.header{
    color: red;
    font-size: 34px;
}

.paragraph{
    font-size: 21px;
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}